@import '../../../styles/input.sass'

$background-color-wodalWindow: #0D1F2D
$background-color-container: #546A7B

body
  font-family: Inter, system-ui, Montserrat, Arial, sans-serif
  background-color: $background-color-wodalWindow
  margin: 0
  display: flex
  align-items: center
  justify-content: center
  height: 100vh

.registration-container
  background-color: $background-color-container
  padding: 45px 40px
  border-radius: 8px
  width: 29%
  max-width: 370px
  box-sizing: border-box
  max-height: 80vh

.modal_window__header
  margin: 0

.input_header
  color: #9EA3B0
  font-size: 12px

.form_container
  padding: 30px 0

.registration-form_container 
  padding-bottom: 10px

.form-group
  margin-bottom: 16px
  box-sizing: border-box

input
  background-color: $background-color-container
  border-bottom: 0.5px solid $background-color-wodalWindow

label 
  color: #9EA3B0
  font-size: 14px
