$edit-background-color: #546A7B
$profile-data-color: #C7C9D1
$line-title: #9EA3B0
$font-family: Inter, system-ui, Montserrat, Arial, sans-serif

body 
  margin: 0
  font-family: $font-family

.profilePage_container
  display: flex
  height: 100vh
  align-items: center
  justify-content: center
  background-color: #546A7B

.profile-container
    display: flex
    flex-direction: column
    width: 25%
    margin: auto 0

.main_container
  display: flex
  justify-content: center
  align-items: center

.back-arrow
  width: 24px
  height: 24px
  cursor: pointer

.content-container
  display: flex
  flex-direction: column
  width: 25%
  margin: 4vw 0

.avatar-container
  display: flex
  justify-content: center
  align-items: center
  margin: 0 auto
  border-radius: 50%
  background-color: #9EA3B0
  width: 130px
  height: 130px
  overflow: hidden

.avatar_img
  width: 100%
  height: 100%
  object-fit: cover

.attachFile_input
  display: none

.list-info
  margin: 48px 0

.line-info
  display: flex
  justify-content: space-between
  align-items: center
  border-bottom: 0.5px solid #0D1F2D

.profile-data
  color: $profile-data-color
  margin-left: auto

.line-title
  color: $line-title

.line-title, .profile-data
  margin-bottom: 10px
  margin-top: 10px

.editing-link_buttons
  display: flex
  flex-direction: column

.edit-link
  margin-left: auto
  color: inherit

.logout_button
  color: #800F1C
  font-weight: 600

label
  color: #9EA3B0
